<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>Document</title>
</head>
<body class="bg-gray-200 h-screen">
    <div class="flex h-full w-full">
        <div class="bg-gray-400 p-4 rounded-lg">
            <h1 class="text-2xl text-center font-bold">{{ username }}</h1><br>
            <h2 class="text-2xl underline text-center">Enter Workout</h2><br>
            <form method="POST" action="/create-workout">
                <div class="flex flex-col">
                    <label for="type" class="text-center">Type of workout</label>    
                    <select name="type" id="type" class="border border-gray-600 rounded-md">
                        <option value="swim">swim</option>
                        <option value="bike">bike</option>
                        <option value="run">run</option>
                    </select><br><br>
                </div>

                <div class="flex flex-col"> 
                    <label for="distance" class="text-center">Distance (kilometers)</label>
                    <input type="number" step="any" name="distance" id="distance" min="0" required class="rounded-md"> <br><br>
                </div>

                <div class="flex flex-col">
                    <label for="duration" class="text-center">Duration (minutes)</label>
                    <input type="number" step="any" name="duration" id="duration" min="0" required class="rounded-md"> <br><br>
                </div>
                
                <button type="submit" class="bg-blue-500 text-white rounded-lg py-2 w-full hover:bg-blue-600 transition">Submit</button>
            
            <div class="flex flex-col my-20">
                <h2 class="text-2xl text-center mb-6 underline">Workout Log</h2>
                <a href="{{ url_for('workout_log') }}" class="bg-red-500 justify-end text-center text-white rounded-lg py-2 w-full hover:bg-red-600 transition">Redirect</a>
            </div>
        </div>


        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@2.0.1/dist/chartjs-plugin-zoom.min.js"></script>
        
        <section class="flex flex-row justify-center items-center w-full">
            <div class="flex flex-col mx-20">
                
                <canvas id="swimPace" width="800" height="300" class="my-1 bg-white rounded-lg shadow"></canvas>
                
                <canvas id="bikePace" width="800" height="300" class="my-1 bg-white rounded-lg shadow"></canvas>
                
                <canvas id="runPace" width="800" height="300" class="my-1 bg-white rounded-lg shadow"></canvas>
            </div>

            <div class="flex flex-col mx-20">
                <h1 class="text-center underline text-2xl">Distance Traveled</h1>
                <canvas id="totalDistance" width="350" class=""></canvas><br><br><br><br>
                <h1 class="text-center underline text-2xl">Time Spent</h1>
                <canvas id="totalDuration" width="350" class=""></canvas>
            </div>
        </section>

        
        
        
        
        
        <script>
            const ctx = document.getElementById('swimPace');
            new Chart(ctx, {
                type: 'line',
                data: {
                    labels: {{ swim_workout_dates | tojson }},
                    datasets: [{
                        label: 'Swim Pace',
                        data: {{ swim_workout_paces | tojson }},
                        borderColor: 'blue',
                        borderWidth: 1,
                        pointRadius: 2
                    },
                    {
                        label: 'Average Pace',
                        data: {{ swim_workout_average_pace | tojson }},
                        borderColor: 'red',
                        borderDash: [5, 5], // dashed line for visual distinction
                        borderWidth: 1,
                        pointRadius: 0
                    }
                    ]
                },
                options: {
                    scales: {
                        x: {
                            ticks: {
                                maxTicksLimit: 8,
                                autoskip: true,
                            }
                        },
                        
                        y: {
                            title: {
                                display: true,
                                text: 'km / min', // <-- your label here
                                font: {
                                    size: 22,
                                    style: 'italic',
                                    weight: ""
                            }
                        },
                            beginAtZero: true
                        }
                    },
                    plugins: {
                        zoom: {
                            pan: {
                                enabled: true,
                                mode: 'xy'
                            },
                            zoom: {
                                wheel: {
                                    enabled: true
                                },
                                pinch: {
                                    enabled: true
                                },
                                mode: 'xy'
                            }
                        }
                    }
                }
            });
        </script>

        <script>
            const ctx2 = document.getElementById('bikePace');
            new Chart(ctx2, {
                type: 'line',
                data: {
                    labels: {{ bike_workout_dates | tojson }},
                    datasets: [{
                        label: 'Bike Pace',
                        data: {{ bike_workout_paces | tojson }},
                        borderColor: 'blue',
                        borderWidth: 1,
                        pointRadius: 2
                    },
                    {
                        label: 'Average Pace',
                        data: {{ bike_workout_average_pace | tojson }},
                        borderColor: 'red',
                        borderDash: [5, 5], // dashed line for visual distinction
                        borderWidth: 1,
                        pointRadius: 0
                    }
                    
                    ]
                },
                options: {
                    scales: {
                        x: {
                            ticks: {
                                maxTicksLimit: 8,
                                autoskip: true,
                            }
                        },
                        
                        y: {
                            title: {
                                display: true,
                                text: 'km / min', // <-- your label here
                                font: {
                                    size: 22,
                                    style: 'italic',
                                    weight: ""
                            }
                        },
                            beginAtZero: true
                        }
                    },
                    plugins: {
                        zoom: {
                            pan: {
                                enabled: true,
                                mode: 'xy'
                            },
                            zoom: {
                                wheel: {
                                    enabled: true
                                },
                                pinch: {
                                    enabled: true
                                },
                                mode: 'xy'
                            }
                        }
                    }
                }
            });
        </script>

        <script>
            const ctx3 = document.getElementById('runPace');
            new Chart(ctx3, {
                type: 'line',
                data: {
                    labels: {{ run_workout_dates | tojson }},
                    datasets: [{
                        label: 'Run Pace',
                        data: {{ run_workout_paces | tojson }},
                        borderColor: 'blue',
                        borderWidth: 1,
                        pointRadius: 2
                    },
                    {
                        label: 'Average Pace',
                        data: {{ run_workout_average_pace | tojson }},
                        borderColor: 'red',
                        borderDash: [5, 5], // dashed line for visual distinction
                        borderWidth: 1,
                        pointRadius: 0
                    }
                ]
                },
                options: {
                    scales: {
                        x: {
                            ticks: {
                                maxTicksLimit: 8,
                                autoskip: true,
                            }
                        },
                        
                        y: {
                            title: {
                                display: true,
                                text: 'km / min', // <-- your label here
                                font: {
                                    size: 22,
                                    style: 'italic',
                                    weight: ""
                            }
                        },
                            beginAtZero: true
                        }
                    },
                    plugins: {
                        zoom: {
                            pan: {
                                enabled: true,
                                mode: 'xy'
                            },
                            zoom: {
                                wheel: {
                                    enabled: true
                                },
                                pinch: {
                                    enabled: true
                                },
                                mode: 'xy'
                            }
                        }
                    }
                }
            });
        </script>

        <script>
            const totalDistance = document.getElementById("totalDistance");
            new Chart(totalDistance, {
                type: "doughnut",
                data: {
                    labels: {{ doughnut_labels | tojson }},
                    datasets: [{
                        label: "kilometers",
                        data: {{ doughnut_distances | tojson }},
                        backgroundColor: [
                            "rgb(255, 99, 132)",
                            "rgb(54, 162, 235)",
                            "rgb(255, 205, 86)"
                        ],
                        hoverOffset: 4
                    }]
                }
            });
        </script>

        <script>
            const totalDuration = document.getElementById("totalDuration");
            new Chart(totalDuration, {
                type: "doughnut",
                data: {
                    labels: {{ doughnut_labels | tojson }},
                    datasets: [{
                        label: "minutes",
                        data: {{ doughnut_durations | tojson }},
                        backgroundColor: [
                            "rgb(255, 99, 132)",
                            "rgb(54, 162, 235)",
                            "rgb(255, 205, 86)"
                        ],
                        hoverOffset: 4
                    }]
                }
            });
        </script>
        
    </div>
</body>
</html>