<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome {{ username }}</h1><br><br>

    <h2>Workout:</h2>
    <form method="POST" action="/create-workout">
        <label for="type">Type of workout</label>    
        <select name="type" id="type">
            <option value="swim">swim</option>
            <option value="bike">bike</option>
            <option value="run">run</option>
        </select><br><br>

        <label for="distance">Insert distance</label>
        <input type="number" step="any" name="distance" id="distance" min="0" required> <br><br>

        <label for="duration">Insert duration</label>
        <input type="number" step="any" name="duration" id="duration" min="0" required> <br><br>
        
        <button type="submit">Submit</button>
    </form>

    <h2>Chart:</h2>
    <div>
        <canvas id="myChart"></canvas>
    </div>
    
    <script>
        const ctx = document.getElementById('myChart');
      
        new Chart(ctx, {
            type: 'line',
            data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
            datasets: [{
                label: '# of Votes',
                data: [12, 19, 3, 5, 2, 3],
                borderWidth: 1
            }]
        },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
        
</body>
</html>